# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.turbo
.rsbuild

# Testing
coverage
.vitest

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

# Temporary
*.tmp
*.temp
