@import 'tailwindcss';
@import '../../../packages/ui/src/theme.css';

@source '../**/*.{js,ts,jsx,tsx}';
@source '../../../packages/ui/src/**/*.{js,ts,jsx,tsx}';
@source '../../../apps/mf2/src/**/*.{js,ts,jsx,tsx}';
